<div class="container">
    <h3>Fotos de {{titulo}}</h3>
    <div *ngIf="fotos.length >= 1">
        <img [src]="fotoAtual">
        <div class="buttons">
            <p>Foto {{status}}</p>
            <button (click)="primeiraFoto()" [disabled]="index<=0">&lt;&lt;</button>
            <button (click)="fotoAnterior()" [disabled]="index<=0">&lt;</button>
            <button (click)="proximaFoto()" [disabled]="index>=fotos.length-1">&gt;</button>
            <button (click)="ultimaFoto()" [disabled]="index>=fotos.length-1">&gt;&gt;</button>
        </div>
    </div>
    <ng-container *ngIf="fotos.length <= 1">
        <p>Nenhuma foto.</p>
    </ng-container>
</div>